<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-content">
      <p class="footer-title">{{ site.title }}</p>
      <p>連絡先：<br>
        <strong>{{ site.organizer.name }}</strong><br>
        {{ site.affiliation.institute }}{{ site.affiliation.department }}・<a href="{{ site.affiliation_url }}">{{ site.affiliation.laboratory }}</a><br>
        {{ site.address }}<br>
        Email: {{ site.email }}
      </p>
      <div style="height: 50px"></div>
      <p class="footer-copyright">
        <small><a href = "/privacypolicy">プライバシーポリシー</a></small><br>
        <small><a href = "/disclaimer">免責事項</a></small>
      </p>
      <p class="footer-copyright">&copy; 2017 - {{ "now" | date: "%Y" }} {{ site.title }}</p>
    </div>
  </div>
</footer>
