<header class="site-header" role="banner">
  <div class="wrapper">
    <a  class="site-title" rel="author" href="/">{{ site.title }}</a>

    <nav class="site-nav">
      <div class="trigger">
        <a class="page-link" href="/">Home</a>
        <a class="page-link" href="/workshop/">Workshop</a>
        <a class="page-link" href="/program/">Program</a>
        <a class="page-link" href="/contact/">Contact</a>
      </div>

      <div id="nav-drawer">
        <input id="nav-input" type="checkbox" class="nav-unshown">
        <label id="nav-open" for="nav-input"><span></span></label>
        <label class="nav-unshown" id="nav-close" for="nav-input"></label>
        <div id="nav-content">
          <a class="page-link" href="/">Home</a>
          <a class="page-link" href="/workshop/">Workshop</a>
          <a class="page-link" href="/program/">Program</a>
          <a class="page-link" href="/contact/">Contact</a>
        </div>
      </div>

    </nav>
  </div>

</header>
